.portfolio__projects {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* list-style: none; */
  /* flex-flow: column wrap; */
  /* display: grid; */
  /* grid-auto-flow: row dense; */
  justify-content: center;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.project__item {
  /* margin: 10px 5px; */
  border: 1px solid #ccc;
  width: 200px;
  display: inline-block;
  /* page-break-inside: avoid; */
  /* break-inside: avoid; */
}
